* {
    box-sizing: border-box;
}

.fix-size-conteiner {
    width: 1290px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 400px;
}